body,
html {
	margin: 0;
	padding: 0;
	/* 防止页面默认滚动条出现 */
	overflow: hidden;
}

.container {
	display: flex;
	/* 使用flex布局让子元素横向排列 */
	width: 100vw;
	/* 视口宽度 */
	height: 100vh;
	/* 视口高度 */
	overflow-x: auto;
	/* 横向滚动条 */
	overflow-y: hidden;
	/* 隐藏纵向滚动条 */
}

.btn {
	width: 2.5rem;
	height: 2.5rem;
	background-image: url("../../static/images/bbtn.png");
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 5%;
}

section {
	/* 子元素宽度至少为视口宽度 */
	min-width: 100%;
	/* min-width: 50%;  */
	height: 100vh;
	/* 子元素高度和视口高度一致 */
	/* 您可以根据需要添加其他样式 */
}

/* section background */
#first {
	background-image: url(../imgthree/bg.png);
	background-size: 120%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	position: relative;
}
#first>.onebox,#second>.onebox,#third>.onebox{
	height: 100%;
	display: inline-block;
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
}

#first>.onebox:nth-child(1){
	background-image: url(../imgthree/bg1.png);
	background-position: 0% 400%;
	width: 30%;
	left: 0;
	z-index: 2;
}
#first>.onebox:nth-child(2){
	background-image: url(../imgthree/bg2.png);
	background-position: 100%;
	width: 30%;
	left: 10%;
	z-index: 1;
}
#first>.onebox:nth-child(3){
	background-image: url(../imgthree/bg3.png);
	background-position: 100% -200%;
	width: 30%;
	right: 5%;
	z-index: 0;
}
#first>.onebox:nth-child(4){
	background-image: url(../imgthree/bg4.png);
	width: 45%;
	right: 0;
	z-index: 0;
}
/* #second { background: url(../static/images/slide2.jpg) 50% 0 no-repeat fixed; } */
#second {
	background-image: url(../imgthree/tbg.png);
	background-size: 150% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	position: relative;
}

#second>.onebox:nth-child(1){
	background-image: url(../imgthree/tbg1.png);
	background-position: 0% -100%;
	width: 50%;
	left: 0;
	z-index: 2;
}
#second>.onebox:nth-child(2){
	background-image: url(../imgthree/tbg2.png);
	background-position: 100% 100%;
	width: 30%;
	right: 0;
	z-index: 0;
}
#second>.onebox:nth-child(3){
	background-image: url(../imgthree/tbg3.png);
	background-position: 100% 250%;
	background-size: contain;
	width: 60%;
	right: 0;
	z-index: 1;
}
#third {
	background-image: url(../imgthree/thbg.png);
	background-size: 150% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	position: relative;
}
#third>.onebox:nth-child(1){
	background-image: url(../imgthree/thbg1.png);
	background-position: 0% 200%;
	width: 60%;
	left: 0;
}
#third>.onebox:nth-child(2){
	background-image: url(../imgthree/thbg2.png);
	background-position: 100% -450%;
	width: 70%;
	right: 0;
	z-index: 1;
}
#third>.onebox:nth-child(3){
	background-image: url(../imgthree/thbg3.png);
	background-position: 100% -600%;
	width: 30%;
	right: 0;
	z-index: 2;
}
.box-shander{
	/* height: 1000px; */
	width: 100%;
	max-width: 1920px;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
	padding: 0px;
	margin: 0px auto;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
